#profilContent {
  width: 85vw;
  padding-left: 5vw;
  padding-right: 10vw;
  padding-top: 2vh;
}

#profilTopWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
}
#UserBild {
  border-radius: 100%;
  width: 35vw;
}
#userName {
  font-family: Montserrat;
  color: black;
  font-size: 5vw;
  font-weight: 700;
}
#profilTopWrapperrechts {
  display: flex;
  flex-direction: column;
}
#profilTopTopInfoEintrag {
  display: flex;
  flex-direction: column;
  height: 4vh;
}
#profilTopTopInfoEintragh3 {
  font-family: Montserrat;
  color: black;
  font-size: 5vw;
  font-weight: 700;
}
#profilTopTopInfoEintragh4 {
  font-family: Montserrat;
  color: rgba(0, 0, 0, 0.7);
  font-size: 3vw;
  font-weight: 400;
}

#ProfilKartenÜbersicht {
  display: flex;
  flex-direction: column;
}
#profilh3 {
  font-family: Montserrat;
  color: black;
  font-size: 5vw;
  font-weight: 700;
}
#profilCardWrapper {
  display: flex;
  flex-direction: row;
}
