#SideMenue {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: white;
}
#SideMenueTop {
  display: flex;
  width: 90vw;
  justify-content: flex-end;
  padding-right: 10vw;
  height: 12vh;
  align-items: center;
}
#MenueClose {
}
#closeImg {
  width: 7vw;
}

#SideMenueContentWrapper {
  padding-left: 5vw;
  padding-right: 5vw;
  height: 65vh;
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 0vw;
}
#SideMenueBoxWrapper {
  border-radius: 4vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4vh;
  height: 25vh;
  width: 42.5vw;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
#SideMenueEcclipse {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 20vw;
  height: 20vw;
  background-color: rgba(195, 235, 239, 0.46);
}
#SideMenueEcclipseInner {
}
#SideMenueinnerecimg {
  width: 10vw;
}
#SideMenueh2 {
  font-family: Montserrat;
  color: black;
  font-size: 4.5vw;
  font-weight: 600;
  text-align: center;
}

#SideMenueButton {
  height: 20vh;
}
#SideMenueButton {
  background-color: rgba(195, 235, 239, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
